/* This file is for your main application css. */
$body-bg: #BBB; // With scss, Bootstrap lets us override colors and stuff.
@import "~bootstrap/scss/bootstrap";
.form-control-desc {
  height: 70px;
   width: 800px; 
  background-color: white;
  border: 1px solid #000000;
  word-wrap:break-word; 
}

